$main-color: #444444;
$white: #ffffff;
$black: #000000;
$gray: #f1f1f1;
$secondary-color: #63d1bb;
$secondary-color--toys: #56c3b2;
$color-border: #ececec;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
