$main-color: #444444;
$white: #ffffff;
$black: #000000;
$gray: #F1F1F1;
$secondary-color: #63D1BB;
$secondary-color--toys: #56C3B2;
$color-border: #ececec;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
