.about-us {
  width: 260px;

  margin: 0 auto;
  padding: 30px 0 30px;

  @media (min-width: $tablet-width) {
    width: 668px;

    margin: 0 auto;
    padding: 55px 0 85px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    padding: 70px 0 90px;
    margin: 0 auto;
  }
}

.about-us__tittle {
  font-weight: $font-weight-bold;
  font-size: 25px;
  line-height: 30px;
}

.about-us__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  row-gap: 110px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 325px 325px;
    column-gap: 10px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 25px;
    padding-left: 175px;
  }
}

.about-us__item {
  font-weight: $font-weight-bold;
  line-height: 20px;
}
