.button {
  display: block;
  font-weight: $font-weight-bold;
  font-size: 18px;
  line-height: 20px;
  color: $main-color;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 14px 0;
  border: 2px solid $main-color;
  background-color: $white;
  cursor: pointer;

  &--modal {
    line-height: 16px;
    background-color: $secondary-color;
    color: $white;
    border: 0;
    width: 100%;
  }

  &:hover {
    color: $white;
    background-color: $main-color;
    transition: 250ms;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
