.catalog-container__header {
  background-color: $gray;
  margin-bottom: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  ;

  @media (min-width: $tablet-width) {
    margin-bottom: 79px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 128px;
  }
}

