.contacts__tittle {
  font-weight: $font-weight-bold;
  font-size: 25px;
  line-height: 30px;
}

.contacts__name {
  font-weight: $font-weight-normal;
  font-size: 14px;
  line-height: 30px;
}

.contacts__value {
  font-weight: $font-weight-normal;
  font-size: 14px;
  line-height: 30px;
}
