.contacts__wrapper {
  padding: 0 30px;
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 70px 0 55px;
    margin: 0 auto;
    width: 668px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas:  "contacts__tittle contacts__map"
                          "contacts__list contacts__map"
                          "contacts__write contacts__map";
    width: 1050px;
    padding: 70px 0 105px;
  }
}

.contacts__tittle {
  grid-area: contacts__tittle;
  font-weight: $font-weight-bold;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
}

.contacts__list {
  grid-area: contacts__list;
  margin: 0;
  padding-top: 28px;

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 25px;
    padding-top: 49px;
  }
}

.contacts__item {
  display: flex;
  justify-content: space-between;
}

.contacts__name {
  font-weight: $font-weight-normal;
  font-size: 14px;
  line-height: 30px;
}

.contacts__value {
  font-weight: $font-weight-normal;
  font-size: 14px;
  line-height: 30px;
  margin: 0;
}

.contacts__map {
  grid-area: contacts__map;
  padding-top: 62px;

  @media (min-width: $tablet-width) {
    padding-top: 49px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.contacts__write {
  grid-area: contacts__write;
  padding: 42px 0 39px;

  @media (min-width: $tablet-width) {
    padding: 55px 0 57px;
  }
}
