.field {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }
}

.field__label {
  font-weight: $font-weight-bold;
  line-height: 18px;
  color: $black;
}

.field__input {
  font-family: $font-family;
  font-size: 17px;
  line-height: 18px;
  padding: 17px 23px 17px 0;
  border: none;
  outline: none;
  border-bottom: 2px solid $black;

  &::placeholder {
    opacity: 0.3;
  }

  &:hover,
  &:focus {
    border-color: $secondary-color;
    transition: 250ms;
  }
}

.field__textarea {
  font-family: $font-family;
  font-size: 17px;
  line-height: 18px;
  padding: 17px;
  outline: 0;
  border: 2px solid $black;

  &::placeholder {
    opacity: 0.3;
  }

  &:hover,
  &:focus {
    border-color: $secondary-color;
    transition: 250ms;
  }
}

.oder__mark {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  margin-bottom: 30px;
}
