.form-container__header {
  background-color: $gray;
  height: 177px;


  @media (min-width: $tablet-width) {
    height: 226px;
  }

  @media (min-width: $desktop-width) {
    height: 255px;
  }
}

.hero__tittle {
  width: 260px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 668px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}
