.form-container__oder {
  margin-bottom: 55px;

  @media (min-width: $tablet-width) {
    margin-top: 69px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 119px;
    margin-bottom: 49px;
  }
}
