.hero {
  background-color: $gray;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;

  &--index {
    background-image: url("../img/background/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-color: #f9f9f9;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/hero-mobile@2x.jpg");
      background-size: 320px auto;
    }
  }

  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      position: absolute;
      height: 24px;
      width: 100%;
      bottom: -14px;
      background-image: url("../img/hero-zigzag-fill-tablet.svg");
      background-repeat: repeat-x;
      z-index: 2;
    }

    &--index {
      background-image: url("../img/background/hero-desktop@1x.jpg");
      background-size: auto;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background/hero-desktop@2x.jpg");
        background-size: 768px auto;
      }
    }
  }

  @media (min-width: $desktop-width) {

  }
}

.hero__tittle {
  font-weight: $font-weight-bold;
  font-size: 27px;
  line-height: 30px;
  color: $black;
  margin: 0 auto;
  width: 320px;
  text-align: center;
  padding: 73px 0;

  &--index {
    padding: 73px 30px 137px 30px;
  }

  @media (min-width: $tablet-width) {
    width: 768px;
    font-size: 43px;
    line-height: 50px;
    padding: 101px 0 72px;

    &--index {
      padding: 155px 50px 475px 50px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 101px 0 93px;

    &--index {
    width: 1150px;
    padding: 159px 50px 472px 50px;
    }
  }
}
