.main-container__header {
  background-color: $gray;

  &--index {
    background-image: url("../img/background/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-color: #f9f9f9;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/hero-mobile@2x.jpg");
      background-size: 320px auto;
    }
  }

  @media (min-width: $tablet-width) {

    &--index {
      background-image: url("../img/background/hero-desktop@1x.jpg");
      background-size: auto;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background/hero-desktop@2x.jpg");
        background-size: 768px auto;
      }
    }
  }

  @media (min-width: $desktop-width) {

  }
}

.hero__tittle {
  font-weight: $font-weight-bold;
  font-size: 27px;
  line-height: 30px;
  color: $black;
  margin: 0 auto;
  width: 320px;
  text-align: center;

  &--index {
    padding: 73px 30px 137px 30px;
  }

  @media (min-width: $tablet-width) {
    width: 768px;
    font-size: 43px;
    line-height: 50px;
    padding: 155px 50px 372px 50px;
  }

  @media (min-width: $desktop-width) {
    width: 1150px;
    padding: 159px 50px 355px 50px;
  }
}
