.main-catalog__wrapper {

  @media (min-width: $tablet-width) {
    width: 768px;
    margin: 0 auto;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    width: 1150px;
    padding: 0 50px;
    margin: 0 auto;
  }
}

.main-catalog__list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    width: 668px;
    grid-template-columns: 334px 334px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    grid-template-columns: 525px 525px;
  }
}

.main-catalog__item {

  & svg {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &--interior {
    background-color: $secondary-color;

    & svg {
      right: 17px;
    }
  }

  &--toys {
    background-color: $secondary-color--toys;

    & svg {
      right: -3px;
    }
  }
}

.main-catalog__link {
  display: block;
  position: relative;
  width: 320px;
  margin: 0 auto;
  font-weight: $font-weight-bold;
  font-size: 19px;
  color: $white;
  text-decoration: none;
  padding: 24px 30px 31px 30px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.main-catalog__link svg {

}
