.main-container__header {
  background-color: $gray;
  background-image: url("../../img/hero-mobile@2x\ 1.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;

  @media (min-width: $tablet-width) {
    background-size: cover;
  }

  @media (min-width: $desktop-width) {

  }
}

.hero__tittle-index {
  font-weight: $font-weight-bold;
  font-size: 27px;
  line-height: 30px;
  color: $black;
  margin: 0 auto;
  padding: 73px 0 120px;
  width: 260px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 668px;
    padding: 110px 0 372px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    padding: 114px 0 355px;
  }
}
