.main-catalog__item--interior {
  background-color: $secondary-color;
}

.main-catalog__item--toys {
  background-color: $secondary-color--toys;
}

.main-catalog__link {
  font-weight: $font-weight-bold;
  font-size: 19px;
  color: $white;
  text-decoration: none;
}
