.main-catalog {
  margin-top: -103px;
  margin-bottom: 60px;
}

.main-catalog__wrapper {

  @media (min-width: $tablet-width) {
    width: 768px;
    margin: 0 auto;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    width: 1150px;
    padding: 0 50px;
    margin: 0 auto;
  }
}

.main-catalog__list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    width: 668px;
    grid-template-columns: 334px 334px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    grid-template-columns: 525px 525px;
  }
}

.main-catalog__item {
  z-index: 1;

  & svg {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    fill: rgba(20, 144, 128, 1);
    opacity: 0.5;
  }

  &--interior {
    background-color: $secondary-color;

    &:hover {
      transform: translateY(-5px);
      transition: transform 250ms;
      background-color: rgba(89, 213, 188, 1);
    }

    & svg {
      right: 17px;
    }
  }

  &--toys {
    background-color: $secondary-color--toys;

    &:hover {
      transform: translateY(-5px);
      transition: transform 250ms;
      background-color: rgba(70, 193, 174, 1);
    }

    & svg {
      right: -3px;
    }
  }
}

.main-catalog__item--interior:hover svg,
.main-catalog__item--toys:hover svg {
  opacity: 0.7;
}

.main-catalog__item--interior:active svg,
.main-catalog__item--toys:active svg {
  opacity: 0.3;
}

.main-catalog__link {
  display: block;
  position: relative;
  width: 320px;
  margin: 0 auto;
  font-weight: $font-weight-bold;
  font-size: 19px;
  color: $white;
  text-decoration: none;
  padding: 24px 30px 31px 30px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}
