.main-header {
  position: relative;
  background-color: $white;
  color: $black;
  width: 320px;
  padding: 0 30px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "logo user-list"
      "site-list delivery";
    width: 768px;
    padding: 0 50px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-areas: "site-list logo user-list"
      "trade-list trade-list delivery";
    width: 1150px;
    padding: 0 50px;
    margin: 0 auto;
  }
}

.main-header__logo {
  display: block;
  grid-area: logo;
  text-align: center;
  margin: 21px 0 17px;

  @media (min-width: $tablet-width) {
    text-align: start;
    margin: 21px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 8px 30px;
  }
}

.main-header__logo img {
  display: inline-block;
  width: 86px;
  height: 35px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: block;
    width: 113px;
    height: 46px;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
    height: 72px;
  }
}

.main-header__burger-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 14px;
  cursor: pointer;
  border: none;
  background-color: $white;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__burger-menu::before {
  content: "";
  position: absolute;
  top: 32px;
  right: 32px;
  width: 20px;
  height: 2px;
  transition: 0.3s;
  background-color: $black;
  box-shadow: 0 6px 0 0 $black,
    0 12px 0 0 $black;
}

@media (max-width: $tablet-width) {

  .main-header--closed .site-list,
  .main-header--closed .user-list {
    display: none;
  }

  .main-header--opened .main-header__list {
    display: none;
  }

  .main-header--nojs .main-header__burger-menu {
    display: none;
  }

  .main-header--nojs .site-list {
    display: block;
    position: absolute;
    background-color: $white;
    top: 101%;
    left: 0;
    width: 100%;
    z-index: 10;
  }

  .main-header--nojs .user-list {
    display: block;
    position: absolute;
    background-color: $white;
    top: 302%;
    left: 0;
    width: 100%;
    z-index: 10;
  }


}

.main-header--opened .main-header__burger-menu {

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 32px;
    right: 32px;
    width: 22px;
    height: 2px;
    background-color: $black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-header__list {
  margin: 0;
  padding: 0;
  list-style: none;
}




.main-header__delivery {
  display: none;
  grid-area: delivery;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    display: block;
    position: absolute;
    margin-top: 20px;
    right: 0;
    z-index: 2;
  }
}
