.main-footer {
  background-color: $gray;
}

.main-footer__logo {
  display: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.main-footer__logo svg {
  fill: $black;

  &:hover {
    fill: $secondary-color;
    transition: 250ms;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 0 30px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 668px;
    min-height: 143px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

.main-footer__social {
  border-bottom: 1px solid $color-border;
  padding: 28px 0 28px;

  @media (min-width: $tablet-width) {
    border: none;
  }
}
