.modal {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);

  &--close {
    display: none;
  }
}

.modal__order {
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  min-width: 320px;
  width: 100%;
  background-color: $white;
  border: 1px solid rgba(198, 198, 198, 1);
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
  z-index: 2;
  padding-bottom: 46px;

  @media (min-width:$tablet-width) {
    padding: 46px 106px;
    width: 568px;
  }
}

.modal__order-title {
  font-weight: $font-weight-bold;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 28px 0 14px 0;
  color: $black;

  @media (min-width:$tablet-width) {
    font-size: 30px;
    line-height: 57px;
    margin: 0;

    & br {
      display: none;
    }
  }
}

.modal__order-select {
  font-size: 15px;
  line-height: 30px;

  @media (min-width:$tablet-width) {
    font-size: 17px;
  }
}

.modal__order-group {
  display: flex;
  justify-content: space-between;
  font-weight: $font-weight-bold;
  line-height: 16px;
  margin-top: 26px;
  margin-bottom: 31px;
}

.modal__order-label {
  padding-top: 16px;
  min-width: 82px;
  min-height: 52px;
  border: 2px solid rgba(68, 68, 68, 0.1);
  cursor: pointer;

  &:hover {
    border: 2px solid rgba(68, 68, 68, 0.3);
  }

  &:active {
    border: 2px solid rgba(98, 209, 186, 1);
  }

  @media (min-width:$tablet-width) {
    min-width: 112px;
  }
}

.modal__order-input {
  display: none;

  &:checked+.modal__order-label {
    border-color: #63d1bb;
  }
}
