.oder__text-wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    width: 1150px;
    padding: 0 225px;
  }
}

.oder__text {
  font-size: 13px;
  margin: 17px 0 29px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 63px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 13px;
  }
}

.oder__container {
  @media (min-width: $tablet-width) {
    padding: 50px 0;

    &--gray {
      background-color: $gray;
      padding: 50px;
    }
  }
}

.oder__group {
  padding: 0;
  margin: 0;
  border: none;

  &--fio {
    margin-bottom: 35px;
  }

  &--phone {
    margin-bottom: 34px;
  }

  &--email {
    margin-bottom: 35px;
  }

  &--note {
    margin-bottom: 11px;
  }

  @media (min-width: $tablet-width) {
    &--fio,
    &--email {
      margin-bottom: 0;
    }

    &--phone {
      margin-bottom: 24px;
    }

    &--note {
      margin-bottom: 3px;
    }
  }

  @media (min-width: $desktop-width) {
    &--note {
      margin-bottom: 0;
    }
  }
}

.oder__group-wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 768px;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    width: 1150px;
    padding: 0 225px 0 112px;
  }
}

.oder__field-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.oder__title {
  position: relative;
  color: $secondary-color;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  line-height: 16px;
  margin-bottom: 32px;
  padding: 0;

  &::after {
    position: absolute;
    content: "";
    top: 7px;
    left: 60px;
    right: 0;
    height: 1px;
    background-color: $secondary-color;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--color {
    margin-bottom: 25px;
  }

  &--fio {
    margin-bottom: 31px;
  }

  &--phone {
    margin-bottom: 6px;
  }

  &--email {
    margin-bottom: 5px;
  }

  &--note {
    margin-bottom: 22px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 18px;
    margin-right: 132px;
    margin-bottom: 0;

    &--color {
      margin-right: 123px;
    }

    &--fio {
      margin-right: 125px;
    }

    &--email {
      margin-right: 110px;
    }

    &--note {
      margin-right: 102px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 77px;

    &--color {
      margin-right: 69px;
    }

    &--fio {
      margin-right: 74px;
    }

    &--email {
      margin-right: 55px;
    }

    &--note {
      margin-right: 50px;
    }
  }
}

.oder__tittle--email::after {
  left: 78px;
}

.oder__list {
  display: grid;
  row-gap: 15px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 33px;

  &--color {
    row-gap: 23px;
  }

  @media (min-width: $tablet-width) {
    gap: 23px;
    margin-bottom: 0;

    &--color {
      grid-template-columns: repeat(2, 250px);
      row-gap: 24px;
      column-gap: 12px;
    }
  }

  @media (min-width: $desktop-width) {
    gap: 22px;

    &--color {
      grid-template-columns: repeat(3, 240px);
      row-gap: 24px;
      column-gap: 22px;
    }
  }
}

.oder__item {
  font-weight: $font-weight-bold;
  line-height: 18px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 19px;

    &--color {
      margin-bottom: 0;
    }
  }
}

.oder__mark {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 0;
  }
}

.control {
  display: grid;
  grid-template-columns: 38px 1fr;
  column-gap: 23px;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: 52px 1fr;
    column-gap: 29px;
  }
}

.control__mark {
  position: relative;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  width: 38px;
  height: 38px;
  background-color: transparent;
  border: 2px solid $main-color;

  &:hover {
    border-color: $secondary-color;
  }

  &:active {
    border-color: $black;
    opacity: 0.3;
  }

  &--radio {
    border-radius: 50%;
  }

  @media (min-width: $tablet-width) {
    width: 52px;
    height: 52px;
  }
}

.control:focus-within .control__mark::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  display: block;
  width: 38px;
  height: 38px;
  outline: 2px solid $secondary-color;

  @media (min-width: $tablet-width) {
    width: 52px;
    height: 52px;
  }
}

.control__input[type="radio"]:checked + .control__mark::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $secondary-color;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 20px;
  }
}

.control__input[type="checkbox"]:checked + .control__mark {
  background-image: url("../img/icon-cheked.svg");
  background-position: center;
  background-size: 23px 16px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    background-size: 32px 22px;
  }
}

.oder__footer-wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }

  @media (min-width: $desktop-width) {
    width: 1150px;
    padding: 0 225px;
  }
}

.oder__button-wrapper {
  width: 230px;
}
