.page {
  height: 100%;
  font-family: $font-family;
  font-size: 17px;
  line-height: 24px;
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: $white;
  color: $main-color;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}
