.product-card {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  margin-bottom: 30px;
  margin-top: 30px;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0 50px;
    margin-top: 80px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 1150px;
    padding: 0 50px;
    margin-top: 130px;
    margin-bottom: 53px;
  }
}

.product-card__list {
  display: grid;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    gap: 53px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 317px);
    gap: 50px;
  }
}

.product-card__item {
  border: 1px solid $gray;
  line-height: 0;

  &:hover {
    box-shadow: 0 6px 10px 0px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.1);
  }

  @media (min-width: $tablet-width) {
    display: flex;

  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.product-card__link {

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.product-card__content {
  padding: 27px;

  @media (min-width: $tablet-width) {
    padding: 28px 33px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  @media (min-width: $desktop-width) {
    padding: 29px 27px;
  }
}

.product-card__title-link {
  display: block;
  font-size: 17px;
  font-weight: $font-weight-bold;
  line-height: 24px;
  text-decoration: none;
  color: $black;
  margin: 0;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.product-card__title {
  margin: 0;
}

.product-card__description {
  font-size: 13px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 18px;
  margin-top: 6px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    margin-bottom: auto;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 13px;
  }
}

.product-card__buy {
  border-top: 1px solid $gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 27px;
}

.product-card__price {
  font-weight: $font-weight-bold;
  font-size: 15px;
  margin: 0;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.product-card__button {
  cursor: pointer;
}

.product-card__button svg {
  width: 21px;
  height: 18px;
  fill: $black;
  opacity: 0.2;


  &:hover {
    opacity: 1;
    fill: $secondary-color;
  }

  &:active {
    opacity: 0.3;
  }
}
