.reviews {


  @media (min-width: $tablet-width) {
    background-image: url("../img/background/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/review@2x.jpg");
      background-size:350px auto;
    }
  }

  @media (min-width: $desktop-width) {
    background-position: 50px 0;
  }
}

.reviews__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    width: 768px;
    margin: 0 auto;
    padding: 0 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:  "reviews__tittle reviews__write"
                          "reviews__list reviews__list";
    align-items: baseline;

  }

  @media (min-width: $desktop-width) {
    width: 1150px;
    margin: 0 auto;
    padding: 0 50px;
  }
}

.reviews__tittle {
  grid-area: reviews__tittle;
  font-weight: $font-weight-bold;
  font-size: 25px;
  line-height: 30px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 82px;
  }
}

.reviews__list {
  grid-area: reviews__list;
  position: relative;
}

.reviews__item {
  margin: 0;
}

.reviews__autor-info {
  margin-bottom: 30px;
}

.reviews__text {
  font-weight: $font-weight-normal;
  font-size: 15px;
  line-height: 30px;
  color: $main-color;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 61px;
  }
}

.reviews__autor-name {
  font-weight: $font-weight-bold;
  color: $black;
  font-style: normal;
}

.reviews__autor-email {
  display: block;
  font-weight: $font-weight-normal;
  line-height: 30px;
  color: $main-color;
}

.reviews__button-wrapper {
  display: flex;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 0;
    bottom: 30px;
    margin: 0;
  }
}

.reviews__button {
  width: 50%;
  padding: 12px 42px 12px 37px;
  background-color: transparent;
  border: 1px solid $color-border;
  cursor: pointer;
  line-height: 0;

  &--right {
    border-left: none;
  }

  @media (min-width: $tablet-width) {
    border: none;

    &--left {
      padding-right: 0;
    }
  }
}

.reviews__write {
  grid-area: reviews__write;
  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    padding-top: 82px;
    margin-bottom: 40px;
  }
}
