.site-list {
  grid-area: site-list;

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 36px;
    position: absolute;
    z-index: 1;
  }
}

.site-list__item {
  padding: 27px 0 27px 46px;
  border-top: 1px solid $gray;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-top: 20px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 32px 35px 32px 0;
    margin: 0;

    &--catalog {
      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}

.site-list__link {
  position: relative;
  display: block;
  font-weight: $font-weight-bold;
  color: $black;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
  }
}
