.social__list {
  display: flex;
  gap: 29px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.social__link svg {
  display: block;
  fill: rgba(35, 31, 32, 1);

  &:hover {
    fill: $secondary-color;
    transition: 250ms;
  }

  &:active {
    opacity: 0.3;
  }
}
