.specification__name {
  font-weight: $font-weight-normal;
  font-size: 15px;
  line-height: 20px;
}

.specification__value {
  font-weight: $font-weight-normal;
  font-size: 15px;
  line-height: 20px;
}
