.trade-list {
  display: none;
  grid-area: trade-list;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    position: absolute;
    gap: 62px;
    z-index: 1;
  }
}

.trade-list__item {
  @media (min-width: $desktop-width) {
    margin-top: 20px;
  }
}

.trade-list__link {
  position: relative;
  display: block;
  font-weight: $font-weight-bold;
  color: $black;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }

  @media (min-width: $desktop-width) {}
}
