.user-list {
  grid-area: user-list;
  display: none;

  @media (min-width: $tablet-width) {
    display: grid;
    justify-content: end;
    grid-template-columns: 83px 265px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 83px 267px;;

  }
}

.user-list__item {
  padding: 27px 0 27px 46px;
  border-top: 1px solid $gray;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 32px 0 32px 82px;
    border-top: none;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.user-list__link {
  display: block;
  font-weight: $font-weight-bold;
  color: $black;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
  }
}

.user-list__link--search span {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.user-list__link--search svg {
  position: absolute;
  opacity: 0.2;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;

  @media (min-width: $tablet-width) {
    left: 32px;
  }
}

.user-list__link--cart svg {
  position: absolute;
  opacity: 0.2;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 21px;
  height: 18px;

  @media (min-width: $tablet-width) {
    left: 31px;
  }
}

.user-list__link--search:hover svg,
.user-list__link--cart:hover svg {
  fill: $secondary-color;
  opacity: 1;
}

.user-list__link--search:active svg,
.user-list__link--cart:active svg {
  opacity: 0.3;
}
