@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensansbold.woff") format("woff"), url("../fonts/opensansbold.woff2") format("woff2");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-us {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}
@media (min-width: 768px) {
  .about-us {
    width: 768px;
    margin: 0 auto;
    padding: 0 50px;
  }
}
@media (min-width: 1150px) {
  .about-us {
    width: 1150px;
    margin: 0 auto;
    padding: 0 50px;
  }
}

@media (min-width: 1150px) {
  .about-us__wrapper {
    padding: 0 175px;
  }
}

.about-us__tittle {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  padding: 31px 0 28px;
}

.about-us__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  row-gap: 32px;
  padding-bottom: 58px;
}
@media (min-width: 768px) {
  .about-us__list {
    grid-template-columns: 325px 325px;
    column-gap: 10px;
  }
}
@media (min-width: 1150px) {
  .about-us__list {
    column-gap: 25px;
  }
}

.about-us__item {
  position: relative;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  padding-top: 54px;
}
.about-us__item--materials svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 33px;
  height: 38px;
}
.about-us__item--style svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 47px;
  height: 27px;
}
.about-us__item--like svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 27px;
}
.about-us__item--manual svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 34px;
}
.about-us__item--support svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 55px;
  height: 23px;
}
.about-us__item--box svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 33px;
  height: 32px;
}

@media (min-width: 768px) {
  .about-us__item:nth-child(1) {
    order: -4;
  }

  .about-us__item:nth-child(4) {
    order: -3;
  }

  .about-us__item:nth-child(2) {
    order: -2;
  }

  .about-us__item:nth-child(5) {
    order: -1;
  }
}
.button {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 14px 0;
  border: 2px solid #444444;
  background-color: #ffffff;
  cursor: pointer;
}
.button:hover {
  color: #ffffff;
  background-color: #444444;
  transition: 250ms;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-container__header {
  background-color: #F1F1F1;
  margin-bottom: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
  .catalog-container__header {
    margin-bottom: 79px;
  }
}
@media (min-width: 1150px) {
  .catalog-container__header {
    margin-bottom: 128px;
  }
}

.hero__tittle {
  width: 320px;
  margin: 0 auto;
  padding: 73px 30px;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  text-align: center;
}
@media (min-width: 768px) {
  .hero__tittle {
    width: 768px;
    font-size: 43px;
    line-height: 50px;
    padding: 101px 50px 75px;
  }
}
@media (min-width: 1150px) {
  .hero__tittle {
    width: 1150px;
    font-size: 53px;
    line-height: 57px;
    padding: 102px 50px 95px;
  }
}

.contacts__wrapper {
  position: relative;
  padding: 0 30px;
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .contacts__wrapper {
    padding: 0 50px;
    margin: 0 auto;
    width: 768px;
  }
}
@media (min-width: 1150px) {
  .contacts__wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "contacts__tittle contacts__map" "contacts__list contacts__map" "contacts__write contacts__map";
    width: 1150px;
    padding: 0 50px;
    margin-bottom: 105px;
  }
}

.contacts__tittle {
  grid-area: contacts__tittle;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  margin: 0;
}
@media (min-width: 768px) {
  .contacts__tittle {
    font-size: 43px;
    line-height: 50px;
  }
  .contacts__tittle::before {
    content: url("../img/icon/icon-flag.svg");
    position: absolute;
    top: 0;
    right: 7%;
  }
}
@media (min-width: 1150px) {
  .contacts__tittle {
    padding-left: 174px;
  }
  .contacts__tittle::before {
    right: 92%;
  }
}

.contacts__list {
  grid-area: contacts__list;
  margin: 0;
}
@media (min-width: 768px) {
  .contacts__list {
    display: flex;
    gap: 25px;
    padding-top: 49px;
  }
}
@media (min-width: 1150px) {
  .contacts__list {
    display: block;
    padding-left: 174px;
  }
}

.contacts__item {
  display: flex;
  gap: 30px;
  margin-top: 28px;
}
@media (min-width: 768px) {
  .contacts__item {
    margin: 0;
  }
}

.contacts__name {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

.contacts__value {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  margin: 0;
}

.contacts__link {
  color: #444444;
  -webkit-text-decoration-color: #63D1BB;
          text-decoration-color: #63D1BB;
  text-underline-offset: 6px;
}
.contacts__link:hover {
  color: #63D1BB;
  transition: 250ms;
}
.contacts__link:active {
  -webkit-text-decoration-color: rgba(70, 193, 174, 0.1);
          text-decoration-color: rgba(70, 193, 174, 0.1);
}

.contacts__adress {
  font-style: normal;
}

.contacts__map {
  grid-area: contacts__map;
  padding-top: 62px;
}
@media (min-width: 768px) {
  .contacts__map {
    padding-top: 49px;
  }
}
@media (min-width: 1150px) {
  .contacts__map {
    padding: 0;
  }
}

.contacts__map iframe {
  border: none;
  display: block;
}
@media (min-width: 768px) {
  .contacts__map iframe {
    height: 457px;
  }
}

.contacts__write {
  grid-area: contacts__write;
  padding: 42px 0 39px;
}
@media (min-width: 768px) {
  .contacts__write {
    padding: 55px 0 57px;
  }
}
@media (min-width: 768px) {
  .contacts__write {
    padding: 85px 119px 0 174px;
    align-self: end;
  }
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 27px;
  padding: 22px 0 23px;
}

.copyright__text {
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
}

.copyright__link {
  display: block;
}

.copyright__link svg {
  fill: #63D1BB;
}
.copyright__link svg:hover {
  fill: #46c1ae;
  transition: 250ms;
}
.copyright__link svg:active {
  opacity: 0.3;
}

.field {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
  margin-bottom: 22px;
}
.field:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .field {
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px;
  }
}

.field__label {
  font-weight: 700;
  line-height: 18px;
  color: #000000;
}

.field__input {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #444444;
  width: 100%;
  padding: 17px 23px 17px 0;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid #000000;
}
.field__input::placeholder {
  color: #000000;
  opacity: 0.3;
}
.field__input:hover, .field__input:focus {
  border-color: #63D1BB;
  transition: 250ms;
}

.field__textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 18px;
  width: 100%;
  padding: 17px;
  outline: 0;
  border: 2px solid #000000;
}
.field__textarea::placeholder {
  opacity: 0.3;
}
.field__textarea:hover, .field__textarea:focus {
  border-color: #63D1BB;
  transition: 250ms;
}

.main-footer {
  background-color: #F1F1F1;
}

.main-footer__logo {
  display: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  .main-footer__logo {
    display: block;
  }
}

.main-footer__logo svg {
  fill: #000000;
}
.main-footer__logo svg:hover {
  fill: #63D1BB;
  transition: 250ms;
}
.main-footer__logo svg:active {
  opacity: 0.3;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 668px;
    min-height: 143px;
  }
}
@media (min-width: 1150px) {
  .main-footer__wrapper {
    width: 1050px;
  }
}

.main-footer__social {
  border-bottom: 1px solid #ececec;
  padding: 25px 0 28px;
}
@media (min-width: 768px) {
  .main-footer__social {
    border: none;
  }
}

.form-container__header {
  background-color: #F1F1F1;
}
.form-container__oder {
  margin-bottom: 55px;
}
@media (min-width: 768px) {
  .form-container__oder {
    margin-bottom: 53px;
  }
}
@media (min-width: 1150px) {
  .form-container__oder {
    margin-bottom: 57px;
  }
}

.main-catalog__wrapper {
  width: 260px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main-catalog__wrapper {
    width: 668px;
    margin: 0 auto;
    padding: 55px 0 40px;
  }
}
@media (min-width: 1150px) {
  .main-catalog__wrapper {
    width: 1050px;
    padding: 70px 0 54px;
    margin: 0 auto;
  }
}

.main-catalog__list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .main-catalog__list {
    width: 668px;
    grid-template-columns: 334px 334px;
  }
}
@media (min-width: 1150px) {
  .main-catalog__list {
    width: 1050px;
    grid-template-columns: 525px 525px;
  }
}

.main-catalog__item--interior {
  background-color: #63D1BB;
  min-height: 109px;
}

.main-catalog__item--toys {
  background-color: #56C3B2;
  min-height: 109px;
}

.main-catalog__link {
  display: block;
  font-weight: 700;
  font-size: 19px;
  color: #ffffff;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 31px;
  width: 130px;
}

.main-container__header {
  background-color: #F1F1F1;
  background-image: url("../../img/hero-mobile@2x 1.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
}
@media (min-width: 768px) {
  .main-container__header {
    background-size: cover;
  }
}
.hero__tittle-index {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  margin: 0 auto;
  padding: 73px 0 120px;
  width: 260px;
  text-align: center;
}
@media (min-width: 768px) {
  .hero__tittle-index {
    width: 668px;
    padding: 110px 0 372px;
  }
}
@media (min-width: 1150px) {
  .hero__tittle-index {
    width: 1050px;
    padding: 114px 0 355px;
  }
}

.main-header {
  position: relative;
  background-color: #ffffff;
  color: #000000;
  width: 260px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main-header {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "logo user-list" "site-list delivery";
    width: 668px;
    margin: 0 auto;
  }
}
@media (min-width: 1150px) {
  .main-header {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-areas: "site-list logo user-list" "trade-list trade-list delivery";
    width: 1050px;
    margin: 0 auto;
  }
}

.main-header__logo {
  display: block;
  grid-area: logo;
  text-align: center;
  margin: 21px 0;
}
@media (min-width: 768px) {
  .main-header__logo {
    text-align: start;
  }
}
@media (min-width: 1150px) {
  .main-header__logo {
    margin: 8px 30px;
  }
}

.main-header__logo img {
  width: 86px;
  height: 35px;
}
@media (min-width: 768px) {
  .main-header__logo img {
    width: 113px;
    height: 46px;
  }
}
@media (min-width: 1150px) {
  .main-header__logo img {
    width: 149px;
    height: 72px;
  }
}

.main-header__burger-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 14px;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .main-header__burger-menu {
    display: none;
  }
}

.main-header__burger-menu--closed::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 2px;
  transition: 0.3s;
  background-color: #000000;
  box-shadow: 0 4px 0 0 #000000, 0 8px 0 0 #000000;
}

.main-header__burger-menu--opened::before, .main-header__burger-menu--opened::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  width: 22px;
  height: 2px;
  background-color: #000000;
}
.main-header__burger-menu--opened::before {
  transform: rotate(45deg);
}
.main-header__burger-menu--opened::after {
  transform: rotate(-45deg);
}

.main-header__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-header__delivery {
  display: none;
  grid-area: delivery;
  margin: 0;
}
@media (min-width: 768px) {
  .main-header__delivery {
    font-size: 15px;
    display: block;
    position: absolute;
    margin-top: 20px;
    right: 0;
  }
}

.main-nav {
  position: relative;
  width: auto;
}

@media (max-width: 320px) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--closed .user-list__item {
    display: none;
  }
}
.oder__text-wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}
@media (min-width: 768px) {
  .oder__text-wrapper {
    width: 768px;
    padding: 0 50px;
  }
}
@media (min-width: 1150px) {
  .oder__text-wrapper {
    width: 1150px;
    padding: 0 50px;
  }
}

.oder__text {
  font-size: 13px;
  margin: 13px 0 29px;
}
@media (min-width: 768px) {
  .oder__text {
    font-size: 17px;
    line-height: 30px;
    margin: 54px 0 63px;
  }
}

.oder__container {
  padding: 50px 0;
}
@media (min-width: 768px) {
  .oder__container--gray {
    background-color: #F1F1F1;
    padding: 50px 0;
  }
}

.oder__group {
  padding: 0;
  margin: 0;
  border: none;
}
.oder__group-wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}
@media (min-width: 768px) {
  .oder__group-wrapper {
    display: flex;
    gap: 120px;
    width: 768px;
    padding: 0 50px;
  }
}
@media (min-width: 1150px) {
  .oder__group-wrapper {
    width: 1150px;
    padding: 0 50px;
  }
}

.oder__field-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.oder__tittle {
  color: #63D1BB;
  text-transform: uppercase;
  line-height: 16px;
  margin-bottom: 30px;
}

.oder__list {
  display: grid;
  row-gap: 13px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.oder__list--color {
  row-gap: 23px;
}
@media (min-width: 768px) {
  .oder__list--color {
    grid-template-columns: repeat(2, 250px);
    row-gap: 24px;
  }
}
@media (min-width: 1150px) {
  .oder__list--color {
    grid-template-columns: repeat(3, 240px);
  }
}

.oder__item {
  font-weight: 700;
  line-height: 18px;
  color: #000000;
}
@media (min-width: 768px) {
  .oder__item--color {
    margin-bottom: 0px;
  }
}

.oder__mark {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .oder__mark {
    margin-bottom: 0;
  }
}

.control {
  display: grid;
  grid-template-columns: 38px 1fr;
  column-gap: 23px;
  align-items: center;
}
@media (min-width: 768px) {
  .control {
    grid-template-columns: 52px 1fr;
    column-gap: 29px;
  }
}

.control__mark {
  position: relative;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  width: 38px;
  height: 38px;
  background-color: transparent;
  border: 2px solid #444444;
}
.control__mark:hover {
  border-color: #63D1BB;
}
.control__mark:active {
  border-color: #000000;
  opacity: 0.3;
}
.control__mark--radio {
  border-radius: 50%;
}
@media (min-width: 768px) {
  .control__mark {
    width: 52px;
    height: 52px;
  }
}

.control__input[type=radio]:checked + .control__mark::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #63D1BB;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
@media (min-width: 768px) {
  .control__input[type=radio]:checked + .control__mark::before {
    width: 20px;
    height: 20px;
  }
}

.control__input[type=checkbox]:checked + .control__mark {
  background-image: url("../img/icon/icon-cheked.svg");
  background-position: center;
  background-size: 23px 16px;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .control__input[type=checkbox]:checked + .control__mark {
    background-size: 32px 22px;
  }
}

.oder__footer-wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}
@media (min-width: 768px) {
  .oder__footer-wrapper {
    width: 768px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }
}
@media (min-width: 1150px) {
  .oder__footer-wrapper {
    width: 1150px;
    padding: 0 50px;
  }
}

.page {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 24px;
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: #ffffff;
  color: #444444;
}

.product-card {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .product-card {
    width: 768px;
    padding: 0 50px;
    margin-bottom: 53px;
  }
}
@media (min-width: 1150px) {
  .product-card {
    width: 1150px;
    padding: 0 50px;
    margin-bottom: 57px;
  }
}

.product-card__list {
  display: grid;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 1150px) {
  .product-card__list {
    display: grid;
    grid-template-columns: repeat(3, 316px);
    gap: 51px;
  }
}

.product-card__item {
  border: 1px solid #F1F1F1;
}
.product-card__item:hover {
  box-shadow: 0 6px 10px 0px rgba(0, 0, 0, 0.1);
}
.product-card__item:active {
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
  .product-card__item {
    display: flex;
  }
}
@media (min-width: 1150px) {
  .product-card__item {
    display: block;
  }
}

@media (min-width: 1150px) {
  .product-card__link {
    min-height: 462px;
    display: block;
  }
}

.poduct-card__content {
  padding: 28px;
}
@media (min-width: 768px) {
  .poduct-card__content {
    padding: 25px 34px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}
@media (min-width: 1150px) {
  .poduct-card__content {
    padding: 27px 34px;
  }
}

.product-card__tittle-link {
  display: block;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  margin: 0;
}
.product-card__tittle-link:hover {
  opacity: 0.6;
}
.product-card__tittle-link:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .product-card__tittle-link {
    font-size: 20px;
  }
}

.product-card__tittle {
  margin: 0;
}

.product-card__description {
  font-size: 13px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 17px;
}
@media (min-width: 768px) {
  .product-card__description {
    font-size: 15px;
    margin-bottom: 172px;
  }
}
@media (min-width: 1150px) {
  .product-card__description {
    margin-bottom: 13px;
  }
}

.product-card__buy {
  border-top: 1px solid #F1F1F1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
}

.product-card__price {
  font-weight: 700;
  font-size: 15px;
  margin: 0;
  color: #000000;
}
@media (min-width: 768px) {
  .product-card__price {
    font-size: 17px;
  }
}

.product-card__button {
  cursor: pointer;
}

.product-card__cart-icon {
  fill: #000000;
  opacity: 0.2;
}
.product-card__cart-icon:hover {
  opacity: 1;
  fill: #63D1BB;
}
.product-card__cart-icon:active {
  opacity: 0.3;
}

.product-hit__wrapper {
  width: 320px;
  padding: 0 30px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .product-hit__wrapper {
    display: grid;
    grid-template-columns: 290px 165px 125px;
    column-gap: 42px;
    grid-template-areas: "product-hit__tittle product-hit__tittle product-hit__legend" "product-hit__desc image image" "product-hit__table image image" "product-hit__order image image";
    width: 768px;
    margin: 0 auto;
    padding: 0 50px;
  }
}
@media (min-width: 1150px) {
  .product-hit__wrapper {
    grid-template-columns: 130px 290px 525px;
    column-gap: 43px;
    grid-template-areas: "product-hit__legend product-hit__tittle image" "product-hit__legend product-hit__desc image" "product-hit__legend product-hit__table image" "product-hit__legend product-hit__order image";
    width: 1150px;
    margin: 0 auto;
    padding: 0 50px;
  }
}

.product-hit__tittle {
  grid-area: product-hit__tittle;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  padding-top: 31px;
}
@media (min-width: 768px) {
  .product-hit__tittle {
    font-size: 43px;
    line-height: 50px;
    padding-bottom: 50px;
  }
}
@media (min-width: 1150px) {
  .product-hit__tittle {
    font-size: 53px;
    line-height: 57px;
  }
}

.product-hit__legend {
  grid-area: product-hit__legend;
  font-weight: 700;
  line-height: 20px;
  color: #63D1BB;
  margin: 0;
}
.product-hit__legend br {
  display: none;
}
@media (min-width: 768px) {
  .product-hit__legend br {
    display: block;
  }
}

.product-hit__desc {
  grid-area: product-hit__desc;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  margin: 17px 0 28px;
}
@media (min-width: 768px) {
  .product-hit__desc {
    font-size: 17px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 48px;
  }
}

.product-hit__table {
  grid-area: product-hit__table;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #444444;
  width: 100%;
  margin-bottom: 30px;
  border-collapse: collapse;
}
@media (min-width: 768px) {
  .product-hit__table {
    margin-bottom: 37px;
  }
}

.product-hit__row {
  box-sizing: border-box;
  border-bottom: 1px solid #F1F1F1;
}

.product-hit__cell {
  padding: 10px 0;
}
.product-hit__cell--name {
  width: 40%;
}

.product-hit__img-wrapper {
  grid-area: image;
}

.product-hit__order {
  grid-area: product-hit__order;
  margin-bottom: 42px;
}

.product-hit__price {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
  text-align: center;
  margin: 25px 0;
}
@media (min-width: 1150px) {
  .product-hit__price {
    font-size: 20px;
    line-height: 24px;
  }
}

.production {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 58px;
  padding: 0 30px;
}
@media (min-width: 768px) {
  .production {
    width: 768px;
    padding: 0 50px;
  }
}
@media (min-width: 1150px) {
  .production {
    width: 1150px;
    padding: 0 50px;
  }
}

.production__wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid #F1F1F1;
}
.production__wrapper:hover {
  box-shadow: 0 6px 10px 0px rgba(0, 0, 0, 0.1);
}
.production__wrapper:active {
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.1);
}
@media (min-width: 1150px) {
  .production__wrapper {
    display: grid;
    grid-template-columns: 682px 367px;
    grid-template-areas: "video production__tittle" "video production__descripion" "video production__descripion";
  }
}

.production__tittle-wrapper {
  display: flex;
  align-items: center;
  padding: 22px 34px 26px;
}
@media (min-width: 768px) {
  .production__tittle-wrapper {
    padding: 39px 42px 25px;
  }
}
@media (min-width: 1150px) {
  .production__tittle-wrapper {
    flex-direction: column;
    align-items: flex-start;
    padding: 47px 0 27px 79px;
  }
}

.production__title-img {
  margin-right: 25px;
}

.production__tittle {
  font-size: 17px;
  margin: 0;
  grid-area: production__tittle;
  color: #000000;
}
@media (min-width: 768px) {
  .production__tittle {
    font-size: 20px;
  }
}
@media (min-width: 1150px) {
  .production__tittle {
    margin-top: 27px;
  }
}

.production__video {
  display: block;
  position: relative;
  width: 100%;
  grid-area: video;
}
@media (min-width: 768px) {
  .production__video {
    order: -1;
    min-width: 668px;
  }
}
.production__button {
  position: absolute;
  background: none;
  border: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.production__button:hover {
  transform: translate(-50%, -50%) scale(1.2);
  transition: 250ms;
}
.production__button:active {
  transform: translate(-50%, -50%) scale(0.8);
  opacity: 0.3;
}

.production__descripion {
  grid-area: production__descripion;
  padding: 35px 33px 33px;
}
@media (min-width: 768px) {
  .production__descripion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 42px 46px;
  }
}
@media (min-width: 1150px) {
  .production__descripion {
    padding: 0 36px 60px 79px;
  }
}

.production__text {
  font-size: 13px;
  margin: 0;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .production__text {
    font-size: 15px;
    line-height: 30px;
  }
}

.reviews {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}
@media (min-width: 768px) {
  .reviews {
    width: 768px;
    margin: 0 auto;
    padding: 0 50px;
  }
}
@media (min-width: 1150px) {
  .reviews {
    width: 1150px;
    margin: 0 auto;
    padding: 0 50px;
  }
}

@media (min-width: 768px) {
  .reviews__wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "reviews__tittle reviews__write" "reviews__list reviews__list";
    align-items: baseline;
  }
}

.reviews__tittle {
  grid-area: reviews__tittle;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
}
@media (min-width: 768px) {
  .reviews__tittle {
    padding-top: 82px;
  }
}

.reviews__list {
  grid-area: reviews__list;
  position: relative;
}

.reviews__item {
  margin: 0;
}

.reviews__autor-info {
  margin-bottom: 30px;
}

.reviews__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  margin-bottom: 33px;
}
@media (min-width: 768px) {
  .reviews__text {
    margin-bottom: 61px;
  }
}

.reviews__autor-name {
  font-weight: 700;
  color: #000000;
  font-style: normal;
}

.reviews__autor-email {
  display: block;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
}

.reviews__arrow {
  display: flex;
  margin-bottom: 38px;
}
@media (min-width: 768px) {
  .reviews__arrow {
    position: absolute;
    right: 0;
  }
}

.reviews__write {
  grid-area: reviews__write;
  margin-bottom: 45px;
}
@media (min-width: 768px) {
  .reviews__write {
    padding-top: 82px;
    margin-bottom: 40px;
  }
}

.site-list {
  grid-area: site-list;
}
@media (min-width: 768px) {
  .site-list {
    display: flex;
    gap: 36px;
    position: absolute;
  }
}

.site-list__item {
  padding: 27px 0 27px 46px;
  border-top: 1px solid #F1F1F1;
}
@media (min-width: 768px) {
  .site-list__item {
    padding: 0;
    margin-top: 20px;
  }
}
@media (min-width: 1150px) {
  .site-list__item {
    padding: 32px 35px 32px 0;
    border: none;
    margin: 0;
  }
  .site-list__item--catalog {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.site-list__link {
  position: relative;
  display: block;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}
@media (min-width: 768px) {
  .site-list__link {
    font-size: 15px;
  }
}
@media (min-width: 1150px) {
  .site-list__link {
    font-size: 17px;
  }
}

.social__list {
  display: flex;
  gap: 29px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.social__link svg {
  display: block;
  fill: #231f20;
}
.social__link svg:hover {
  fill: #63D1BB;
  transition: 250ms;
}
.social__link svg:active {
  opacity: 0.3;
}

.specification__name {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.specification__value {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.trade-list {
  display: none;
  grid-area: trade-list;
}
@media (min-width: 1150px) {
  .trade-list {
    display: flex;
    justify-content: start;
    position: absolute;
    gap: 42px;
  }
}

@media (min-width: 1150px) {
  .trade-list__item {
    margin-top: 20px;
  }
}

.trade-list__link {
  position: relative;
  display: block;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}
@media (min-width: 768px) {
  .trade-list__link {
    font-size: 15px;
  }
}
@media (min-width: 1150px) {
  .trade-list__link {
    font-size: 17px;
  }
}

.user-list {
  grid-area: user-list;
}
@media (min-width: 768px) {
  .user-list {
    display: flex;
    justify-content: end;
    gap: 31px;
  }
}
@media (min-width: 768px) and (min-width: 1150px) {
  .user-list {
    display: flex;
    justify-content: end;
  }
}

.user-list__item {
  padding: 27px 0 27px 46px;
  border-top: 1px solid #F1F1F1;
  position: relative;
}
@media (min-width: 768px) {
  .user-list__item {
    padding: 32px 0 32px 46px;
    border: none;
  }
}

.user-list__link {
  display: block;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}
@media (min-width: 768px) {
  .user-list__link {
    font-size: 15px;
  }
}
@media (min-width: 1150px) {
  .user-list__link {
    font-size: 17px;
  }
}

.user-list__link--search span {
  display: none;
}

.user-list__link--search svg {
  position: absolute;
  opacity: 0.2;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
}

.user-list__link--cart svg {
  position: absolute;
  opacity: 0.2;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 21px;
  height: 18px;
}

.user-list__link--search:hover svg,
.user-list__link--cart:hover svg {
  fill: #63D1BB;
  opacity: 1;
}

.user-list__link--search:active svg,
.user-list__link--cart:active svg {
  opacity: 0.3;
}
/*# sourceMappingURL=style.css.map */