@import "./service/fonts.scss";
@import "./service/global.scss";
@import "./service/variables.scss";

@import "./blocks/about-us.scss";
@import "./blocks/button.scss";
@import "./blocks/catalog-container.scss";
@import "./blocks/contacts.scss";
@import "./blocks/copyright.scss";
@import "./blocks/field.scss";
@import "./blocks/footer.scss";
@import "./blocks/form-container.scss";
@import "./blocks/hero.scss";
@import "./blocks/main-catalog.scss";
@import "./blocks/main-container.scss";
@import "./blocks/main-header.scss";
@import "./blocks/modal.scss";
@import "./blocks/oder.scss";
@import "./blocks/page.scss";
@import "./blocks/product-card.scss";
@import "./blocks/product-hit.scss";
@import "./blocks/production.scss";
@import "./blocks/reviews.scss";
@import "./blocks/site-list.scss";
@import "./blocks/social.scss";
@import "./blocks/specification.scss";
@import "./blocks/trade-list.scss";
@import "./blocks/user-list.scss";
